@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  color: darkblue;
  background-color: #ede8e2;
  font-size: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "primerSeccion primerSeccion"
    "segundaSeccion segundaSeccion"
    "footer footer";

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 2fr 0.5fr;
  padding: 0;
  margin: 0;
  column-gap: 10px;
  row-gap: 10px;
}

.header {
  background-color: #ede8e2;
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  margin: 5px;
  padding: 5px;
}

.header .links {
  justify-content: space-between;
}

.footer {
  background-color: #ede8e2;
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primerSeccion {
  background: url(../img/IMG_20210207_174203.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no repeat;
  grid-area: primerSeccion;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.primerBox {
  background-color: #ede8e2;
  border-radius: 20px;
  margin: 0px;
  padding-left: 5px;
  margin: 5px;
}

.primerBox button {
  border-radius: 20px;
  border:none;
  background-color: skyblue;
  padding: 10px;
  margin: 20px;
}

.segundaSeccion {
  grid-area: segundaSeccion;
  display: flex;
}

.fotoSegundaSeccion {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.textoSegundaSeccion {
  margin: 20px;
  padding: 10px;
}

.textoSegundaSeccion h2 {
  text-align: right;
}

.textoSegundaSeccion button {
  float: right;
}

#marcadorMapa {
  color: blue;
  border: 3px dotted red;
}
